{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>Hi! It's Ben.</h1>
    <p>I am a digital strategist in New York partnering with brands, advocacy groups, and non-profits to inspire people to take action for good causes. An occasional triathlete and photographer, I love travel, nature, and equal rights.</p>
  </div>

  <div id="action-buttons">
    <a class="button primary big" href="/contact/">Get in touch</a> <a class="button secondary outline big" href="/about/">Learn more</a>
  </div>

</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}